<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="/about.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico">
</head>
<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary shadow">
    <div class="container-fluid">
        <!-- make the navbar-brand bold and cursive -->
        <a class="navbar-brand bold-and-cursive" href="home">AlphaPlan</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/About">About</a>
                </li>

            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0" th:object="${user}">
                <li class="nav-item" th:if="${isLoggedIn}">
                    <a class="nav-link" th:href="@{'/' + ${user.username} + '/overview'}">Overview</a>
                </li>
                <li class="nav-item" th:if="${isLoggedIn}">
                    <a class="nav-link" href="logout">Logout</a>
                </li>
                <li class="nav-item" th:unless="${isLoggedIn}">
                    <a class="nav-link" href="login">Login</a>
                </li>
                <li class="nav-item" th:unless="${isLoggedIn}">
                    <a class="nav-link" href="register">Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <h1 class="bold-and-cursive">About Us</h1>

    <p class="text">
        AlphaPlan er et avanceret projektstyringsværktøj designet til at revolutionere den måde, projekter planlægges, administreres og gennemføres på.
        <br><br>
        Med et intuitivt brugergrænseflade og kraftfulde funktioner giver AlphaPlan brugerne mulighed for at effektivisere deres projektprocesser og maksimere produktiviteten.
        <br><br>
        Ved at integrere innovative værktøjer til tidsstyring, opgaveallokering og samarbejde giver AlphaPlan brugere mulighed for at skabe enestående resultater og levere projekter af høj kvalitet,
        samtidig med at de reducerer kompleksiteten og stressen forbundet med projektledelse.
        <br><br>
        AlphaPlan ikke bare et projektstyringsværktøj - det er det sidste, du nogensinde vil bruge.
    </p>
    <div class="form-actions">
        <button class="btn btn-secondary" type="button" onclick="history.back()">Back</button>
    </div>
</div>

</body>
</html>
