<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link href="/About.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico">
</head>
<body>
<div class="container">
    <h1>About Us</h1>

    <p class="text">
        AlphaPlan er et avanceret projektstyringsværktøj designet til at revolutionere den måde, projekter planlægges, administreres og gennemføres på.
        <br>
        Med et intuitivt brugergrænseflade og kraftfulde funktioner giver AlphaPlan brugerne mulighed for at effektivisere deres projektprocesser og maksimere produktiviteten.
        <br>
        Ved at integrere innovative værktøjer til tidsstyring, opgaveallokering og samarbejde giver AlphaPlan brugere mulighed for at skabe enestående resultater og levere projekter af høj kvalitet, samtidig med at de reducerer kompleksiteten og stressen forbundet med projektledelse.
        <br>
        Med AlphaPlan er det ikke kun et projektstyringsværktøj - det er det sidste projektværktøj, du nogensinde vil bruge.
    </p>
    <div class="form-actions">
        <button class="btn btn-secondary" type="button" onclick="history.back()">Cancel</button>
    </div>
</div>

</body>
</html>
