<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Project</title>
    <link href="../styles.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico">
</head>
<body>
<div th:include="NAVBAR2"></div>

<div class="container">
    <h3 class="bold-and-cursive">Redigere Projektet</h3>
    <form th:action="@{'/' + ${user.username} + '/updateproject/' + ${project.projectId}}" th:object="${project}" method="post">
       <!-- <input type="hidden" th:field="*{projectId}"> -->
        <div class="mb-3">
            <label for="name" class="form-label">Projekt Navn</label>
            <input type="text" class="form-control" id="name" th:field="*{name}" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Beskrivelse</label>
            <textarea class="form-control" id="description" th:field="*{description}" required></textarea>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Opdatere</button>
            <a class="btn btn-secondary" href="../projects">Tilbage</a>
        </div>
    </form>
</div>

</body>
</html>
