<!-- navbar.html -->
<nav class="navbar navbar-expand-lg bg-body-tertiary shadow" th:object="${user}">
    <div class="container-fluid">
        <a class="navbar-brand bold-and-cursive" href="home">AlphaPlan</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="about">About</a>
                </li>
                <li th:if="${isLoggedIn}" class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{'/' + ${user.username} + '/projects'}">Projects</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0" th:object="${user}">
                <li th:if="${isLoggedIn}" class="nav-item">
                    <a class="nav-link" th:href="@{'/' + ${user.username} + '/overview'}">Overview</a>
                </li>
                <li th:if="${isLoggedIn}" class="nav-item">
                    <a class="nav-link" href="logout">Logout</a>
                </li>
                <li th:unless="${isLoggedIn}" class="nav-item">
                    <a class="nav-link" href="login">Login</a>
                </li>
                <li th:unless="${isLoggedIn}" class="nav-item">
                    <a class="nav-link" href="register">Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>