<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subproject Overview</title>
    <link href="../styles.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico">
</head>
<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary shadow">
    <div class="container-fluid">
        <a class="navbar-brand bold-and-cursive" href="../home">AlphaPlan</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{'/' + ${user.username} + '/overview'}">Overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{'/' + ${user.username} + '/projects'}">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{'/' + ${user.username} + '/tasks'}">Tasks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{'/' + ${user.username} + '/members'}">Members</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="../logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container" th:if="${project != null}">
    <h3 class="bold-and-cursive">Subprojekt Overview</h3>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title" th:text="${project.name}"></h5>
            <p class="card-text" th:text="${project.description}"></p>
            <h6 class="card-subtitle mb-2 text-muted">Medlemmer:</h6>
            <ul>
                <li th:each="user : ${project.assignedUsers}" th:if="${user.username != project.admin}" th:text="${user.username}"></li>
                <li th:if="${project.assignedUsers.size() == 0}">Ingen medlemmer tilføjet.</li>
            </ul>
        </div>
    </div>
</div>


<div class="container" th:if="${selectedProject.admin == user.username}">
    <div class="row justify-content-left">
        <div class="col-4">
            <form th:action="@{'/' + ${user.username} + '/addUserToSubProject'}" method="post">
                <div class="mb-3">
                    <h4 class="bold-and-cursive">Tilføj medlem</h4>
                    <label for="username" class="form-label">Brugernavn</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>
                <button type="submit" class="btn btn-primary">Tilføj</button>
            </form>
        </div>
        </div>
</div>


<h3 class="bold-and-cursive mt-2 justify-content-left">Tasks
    <a th:href="@{'/' + ${user.username} + '/addSubProjectTask'}" class="btn btn-primary">Add Task</a>
</h3>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Task Navn</th>
                        <th scope="col">Beskrivelse</th>
                        <th scope="col">Timer</th>
                        <th scope="col">Medlemmer</th>
                        <th scope="col">Actions</th>
                        <th scope="col">Admin</th>
                    </tr>
                    </thead>
                    <tbody th:each="task : ${tasks}">
                    <tr>
                        <td th:text="${task.taskName}"></td>
                        <td th:text="${task.taskDescription}"></td>
                        <td th:text="${task.requiredHours}"></td>
                        <td th:text="${task.assignedUsers.size()}"></td>
                        <td class="btn-group" role="group">
                            <a class="btn btn-primary btn-sm" th:href="@{'/' + ${user.username} + '/assignSelfToTask/' + ${task.taskId}}">Assign</a>
                        </td>
                        <td th:if="${selectedProject.admin == user.username}">
                            <a class="btn btn-warning btn-sm" th:href="@{'/' + ${user.username} + '/editSubProjectTask/' + ${task.taskId}}">Edit</a>
                            <a class="btn btn-danger btn-sm" th:href="@{'/' + ${user.username} + '/deleteSubProjectTask/' + ${task.taskId}}">Delete</a>
                            <a href="#" class="btn btn-primary assign-user-btn" data-bs-toggle="modal" data-bs-target="#assignUserModal" th:data-username="${user.username}" th:data-task-id="${task.taskId}">Assign User</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<div class="modal fade" id="assignUserModal" tabindex="-1" aria-labelledby="assignUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="assignUserModalLabel">Assign User to Task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="assignUserForm" method="post">
                    <div class="mb-3">
                        <label for="assignedUsername" class="form-label">Username of user to assign</label>
                        <input type="text" class="form-control" id="assignedUsername" name="assignedUsername">
                    </div>
                    <button type="submit" class="btn btn-primary">Assign User</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- if project is null, show "No project selected." -->
<div class="container" th:unless="${project != null}">
    <h3 class="bold-and-cursive">No subproject selected.</h3>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('.assign-user-btn').click(function() {
            var taskId = $(this).data('task-id');
            var username = $(this).data('username');
            $('#assignUserForm').attr('action', '/' + username + '/assignUserToTask/' + taskId);
        });
    });
</script>
</body>
</html>